Package: set-device
Description: Enable/disable device tree overlays, merge to overlays-xxx.dtb
Version: 2.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 32
Architecture: all
