[Unit]
Description=Use the on-board button as the shutdown button
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/lib/walnutpi/hass-status-led
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
