Package: conf-iptables-as-legacy
Description: conf iptables as legacy
Version: 1.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 4
Architecture: all
Depends: iptables
