Package: service-aw-eth-mac
Description: service, keep the mac same as chip generate
Version: 1.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 40
Architecture: all
