Package: walnutpi1b-base
Description: walnutpi 1b base
Version: 1.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 4
Architecture: all
Depends: wpi-user, wpi-host-name, wpi-welcome-info, wpi-lightdm
