Package: walnutpi-lib
Description: walnutpi support some lib
Version: 1.0.3
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 9076
Architecture: all
Depends: make, gcc
