[Unit]
Description=run scripts in /boot/start 
After=basic.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/walnutpi/service/boot_script
RemainAfterExit=yes
StandardOutput=null
User=pi

[Install]
WantedBy=multi-user.target
