Package: conf-apt-tsinghua
Description: add the tsinghua sources to apt sources.list
Version: 1.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 4
Architecture: all
