[Unit]
Description=enable the headphone and hdmicodec
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/lib/walnutpi/T527_enable_amixer
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
