Package: walnutpi.lib
Description: a python lib to import all lib about walnutpi
Version: 1.0.1
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 228
Architecture: all
Depends: walnutpi.npu
