Package: service-boot-script
Description: service,run the scripts when power on
Version: 1.2.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 40
Architecture: all
