Package: service-k230-isp-media
Description: service, enable isp_media_server
Version: 1.1.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 13320
Architecture: all
