Package: k230-alsa-fix
Description: Fix the problem of audio playback failure caused by alsa-utils
Version: 1.0.0
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 4
Architecture: all
