[Unit]
Description=burn the emmc
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/emmc-burner
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
