Package: wpi-lightdm
Description: setting the lightdm autologin as pi.run ternimal in server 
Version: 1.0.2
Maintainer: sc-bin <3335447573@qq.com>
Section: free
Priority: optional
Installed-Size: 32
Architecture: all
Depends: wpi-user,lightdm
