[Unit]
Description=Expand partition size
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/lib/walnutpi/resize_part
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
